#stage {
	background-image: url(images/css_animation_exercise_4.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	width: 600px;
	height: 600px;
	
}

#hero {
	width: 75px;
	height: 75px;
	border: 1px dashed red;
	position: relative;
	padding: 0px;
	top: 20px; 
	left: 20px;
	animation-name: challenge;
	animation-duration: 5s;	

}

@keyframes challenge {
	 0% { left: 20px; top: 20px;}
	 20% {left: 500px; top: 20px;}
	 30% {left: 500px; top: 200px; transform: rotate(0deg);}
	 40% {top: 200px; left: 270px; transform: rotate(45deg);}
	 60% {left: 270px; top: 200px; transform: rotate(45deg);}
	 80% {left: 20px; top: 200px; transform: rotate(90deg);}
	 100% {border: 1px dashed blue;}

}